.rigth-side-networks-container{
    background-color: var(--color-violet-ligth);
    position: fixed;
    display: none;
    flex-direction: column;
    gap: 15px;
    bottom: 0;
    z-index: 1;
    right: 2.5%;
    bottom: -20px;
    padding: 10px 5px;
    border-radius: 20px;
    align-items: center;
}

.rigth-side-networks-container a{
    text-decoration: none;
    color: var(--color-white-violet);
}
.rigth-side-networks-container p{
    writing-mode: vertical-rl;
    margin: 0;
    cursor: pointer;
}

.rigth-side-networks-container hr{
    height: 20px;
}

@media (min-width: 768px) {
    .rigth-side-networks-container{
        display: flex;
    }
}