.hero-container,
.hero-info,
.hero-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container{
    padding: 50px 0;
}

.hero-info p{
    text-align: center;
    max-width: 440px;
}

.hero-intro h3{
    width: 250px;
    margin: 0;
}

.hero-intro h1{
    margin: 0;
}

.hero-intro img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 12px solid var(--color-violet-ligth);
}

@media (min-width: 768px) and (max-width: 1024px){
    .hero-container{
        padding: 100px 0;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .hero-info p{
        max-width: 430px;
    }

    .hero-intro{
        width: 530px;
    }

    .hero-intro h3{
        width: 260px;
    }

    .hero-intro img{
        width: 200px;
    } 
}

@media (min-width: 1024px){
    .hero-container{
        padding: 100px 0 50px 0;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin: auto;

        max-width: 1000px;
    }
    
    .hero-info p{
        max-width: 420px;
    }

    .hero-intro img{
        width: 250px;
    } 
}